/* ----- Beginning of Reset ----- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, button, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ----- End of Reset ----- */
@font-face {
  font-family: 'Gotham Book';
  src: url("fonts/Gotham-Book.woff2") format("woff2"), url("fonts/Gotham-Book.woff") format("woff"); }
@font-face {
  font-family: 'Gotham Medium';
  src: url("fonts/Gotham-Medium.woff2") format("woff2"), url("fonts/Gotham-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Gotham Bold';
  src: url("fonts/Gotham-Bold.woff2") format("woff2"), url("fonts/Gotham-Bold.woff") format("woff"); }
body {
  font-family: "Gotham", Gotham, sans-serif;
  font-size: 14px;
  line-height: 1.4; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

p {
  font-family: 'Gotham Medium'; }

.intro {
  font-weight: 700; }

#message-to-send {
  font-family: 'Gotham Book'; }

footer a {
  font-weight: 100; }

html, body {
  background-color: #FFD100;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative; }

.wrapper {
  min-height: 100%;
  margin-bottom: -60px;
  padding: 0 10px; }
  @media (min-width: 480px) and (max-width: 768px) {
    .wrapper {
      padding: 0 20px; } }

header {
  padding: 25px 0; }
  header img {
    max-width: 175px; }
  @media (min-width: 0px) and (max-width: 480px) {
    header img {
      max-width: 150px; } }

.intro {
  margin: 0 auto;
  font-size: 1.5em;
  max-width: 600px; }
  .intro p {
    color: #2A2A2A;
    font-weight: 700; }
  @media (min-width: 480px) and (max-width: 768px) {
    .intro {
      font-size: 1.1em; } }
  @media (min-width: 0px) and (max-width: 480px) {
    .intro {
      font-size: 1em; } }

.chat-history {
  padding: 11px;
  overflow: hidden;
  margin: 15px auto;
  font-size: 1.1em;
  max-width: 720px; }
  .chat-history .message-data {
    color: #2A2A2A; }
  .chat-history .user {
    clear: both; }
    .chat-history .user .user-message {
      color: #FFFFFF;
      background-color: #44BFEF;
      padding: 6px 7px 8px 9px;
      border-radius: 7px;
      text-align: left;
      float: right;
      max-width: 80%;
      margin-bottom: 20px; }
    .chat-history .user .message-data {
      float: right; }
  .chat-history .system {
    clear: both; }
    .chat-history .system .system-message {
      color: #2A2A2A;
      background-color: #FFFFFF;
      padding: 6px 7px 8px 9px;
      border-radius: 5px;
      float: left;
      text-align: left;
      max-width: 80%;
      margin-bottom: 20px; }
      .chat-history .system .system-message #typing-1 {
        animation-name: typing-1;
        animation-duration: 1s;
        animation-iteration-count: infinite; }
@keyframes typing-1 {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 0.25; }
  100% {
    opacity: 0.25; } }
      .chat-history .system .system-message #typing-2 {
        animation-name: typing-2;
        animation-duration: 1s;
        animation-iteration-count: infinite; }
@keyframes typing-2 {
  0% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0.25; } }
      .chat-history .system .system-message #typing-3 {
        animation-name: typing-3;
        animation-duration: 1s;
        animation-iteration-count: infinite; }
@keyframes typing-3 {
  0% {
    opacity: 0.25; }
  50% {
    opacity: 0.25; }
  100% {
    opacity: 0.5; } }
    .chat-history .system .message-data {
      float: left; }
  @media (min-width: 0px) and (max-width: 480px) {
    .chat-history {
      font-size: 0.95em; }
      .chat-history .user .user-message {
        margin-bottom: 12px; }
      .chat-history .system .system-message {
        margin-bottom: 12px; } }

.chat-message {
  padding: 10px 10px 25px 10px;
  font-size: 1.1em;
  max-width: 720px;
  margin: 0 auto; }
  .chat-message .messenger-form {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px; }
    .chat-message .messenger-form #message-to-send {
      background-color: #2A2A2A;
      border: none;
      border-radius: 5px;
      color: #FFFFFF;
      padding: 10px 16px 10px 12px;
      resize: none;
      margin: 0;
      width: 100%; }
    .chat-message .messenger-form .send {
      margin-left: 10px;
      cursor: pointer; }
      .chat-message .messenger-form .send .send-button-circle {
        fill: #2A2A2A; }
      .chat-message .messenger-form .send .send-button-arrow {
        fill: #FFD100;
        transition: all 0.3s ease-in-out; }
    .chat-message .messenger-form .send:hover .send-button-arrow {
      fill: #44BFEF; }
  @media (min-width: 0px) and (max-width: 480px) {
    .chat-message {
      font-size: 0.95em; } }

footer {
  width: 100%;
  height: 60px;
  background-color: #2A2A2A;
  font-size: 1.1em;
  line-height: 56px; }
  footer a {
    color: #FFFFFF;
    opacity: 0.7;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid #44BFEF;
    transition: all 0.3s ease-in-out; }
  footer a:hover {
    opacity: 1; }
  @media (min-width: 0px) and (max-width: 480px) {
    footer {
      font-size: 0.95em; } }

/*
@media (min-width: 0px) and (max-width: $mobile) {}

@media (min-width: $mobile) and (max-width: $tablet) {}

@media (min-width: $tablet) and (max-width: $desktop) {}

@media (min-width: $desktop) {}
*/

/*# sourceMappingURL=output.css.map */
