body{
	background-color: $yellow;
	text-align: center;
}

header{
	padding: 10px 0;

	img{
		max-width: 175px;
	}
}

@media (min-width: 0px) and (max-width: $mobile) {}

@media (min-width: $mobile) and (max-width: $tablet) {}

@media (min-width: $tablet) and (max-width: $desktop) {}

@media (min-width: $desktop) {}

.intro{
	margin: 0 auto;
	
	p{
		color: $black;
	}
}

.conversation{
	padding: 10px;
	overflow: hidden;
	margin: 0 auto;

	.user{
		clear: both;

		.user-message{
			color: $white;
			background-color: $blue;
			padding: 6px 7px 8px 9px;
			border-radius: 7px;
			text-align: left;
			float: right;
			margin: 12px 0;
			max-width: 80%;
		}
	}

	.system{
		clear: both;
		margin-bottom: 12px;

		.system-message{
			color: $black;
			background-color: $white;
			padding: 6px 7px 8px 9px;
			border-radius: 5px;
			float: left;
			text-align: left;
			max-width: 80%;
		}
	}
}

.messenger{
	padding: 10px;
	margin: 0 0 25px 0;

	.messenger-form{
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;

		.textbox{
			background-color: $black;
			border: none;
			border-radius: 5px;
			color: $white;
			padding: 10px 16px 10px 12px;
			resize: none;
			margin: 0;
			width: 100%;
		}

		.send{
			background-color: $black;
			border: none;
			border-radius: 5px;
			color: $white;
			cursor: pointer;
			margin-left: 10px;
			height: 50px;
			width: 60px;

			.arrow{
				width: 25px;
			}
		}
	}
}

footer{
	overflow: hidden;
	width: 100%;
	padding: 25px 0;
	background-color: $black;
	bottom: 0;

	a{
		color: $white;
		opacity: 0.7;
		text-decoration: none;
		padding-bottom: 2px;
		border-bottom: 2px solid $blue;
	}
}